NODE_ENV="development"
CORS_ORIGIN="http://localhost:3000"

DB_USERNAME="root"
DB_PASSWORD="password"
DB_HOST="localhost:27017"
DB_DATABASE_NAME="develop"

JWT_SECRET="YCdAZL4gcA2ytnn5XrLgUQ5GkFrMu67k"
JWT_ACCESS_EXPIRATION="86400000"
JWT_REFRESH_EXPIRATION="300000"
